@import url('https://fonts.googleapis.com/css?family=Raleway');

        html,
        body {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
        }

        #landing {
            height: 100%;
            width: 100%;
            margin: auto;
            background-color: white;
            opacity: 0.9;
            display: table;
            top: 0;
            background-size: cover;
        }

        #landing .home {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            max-width: none;
        }

        .content {
            margin: 0 auto;
            max-width: 1000px;
            text-align: center;
        }

        .content h2 {
            font-family: 'Raleway', sans-serif;
            font-size: 400%;
            font-weight: bold;
        }
        .content h2 span{
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
            color: #6720df;
            text-decoration: underline;
        }
        .content .profile-pic {
            box-shadow: 0px 4px 6px 2px lightgrey;
            border-radius: 50%;
        }
        .content p {
            color: #6720df;
            font-family: 'Raleway', sans-serif;
            margin-bottom: 50px;
            margin-top: 50px;
            font-size: 150%;
        }

        .email {
            color: black;
            position: absolute;
            bottom: 0;
            text-align: center;
            width: 100%;
            margin-bottom: 50px;
        }



        /* Wrapper */
        .icon-button {
            background-color: lightrey;
            border-radius: 3.6rem;
            cursor: pointer;
            display: inline-block;
            font-size: 2.0rem;
            height: 3.6rem;
            line-height: 3.6rem;
            margin: 0 5px;
            position: relative;
            text-align: center;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            width: 3.6rem;
        }

        /* Circle */
        .icon-button span {
            border-radius: 0;
            display: block;
            height: 0;
            left: 50%;
            margin: 0;
            position: absolute;
            top: 50%;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            width: 0;
        }

        .icon-button:hover span {
            width: 3.6rem;
            height: 3.6rem;
            border-radius: 3.6rem;
            margin: -1.8rem;
        }

        .linkedin span {
            background-color: #4099ff;
        }

        .youtube span {
            background-color: #FF0000;
        }

        .github span {
            background-color: #333;
        }

        .twitter span {
            background-color: rgb(29,161,242);
        }

        .facebook span {
            background-color: #4267B2;
        }


        /* Icons */
        .icon-button i {
            background: none;
            color: white;
            height: 3.6rem;
            left: 0;
            line-height: 3.6rem;
            position: absolute;
            top: 0;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            width: 3.6rem;
            z-index: 10;
        }

        .icon-button .fa.fa-linkedin {
            color: #4099ff;
        }
        .icon-button .fa.fa-youtube {
            color: #FF0000;
        }
        .icon-button .fa.fa-github {
            color: #333;
        }

        .icon-button .fa.fa-twitter {
            color: rgb(29,161,242);
        }

        .icon-button .fa.fa-facebook {
            color: #4267B2;
        }

        .icon-button:hover .fa.fa-linkedin,
        .icon-button:hover .fa.fa-github,
        .icon-button:hover .fa.fa-twitter,
        .icon-button:hover .fa.fa-facebook, 
        .icon-button:hover .fa.fa-youtube
         {
            color: white;
        }

        .container h2 {
            font-family: 'Raleway', sans-serif;
            font-size: 300%;
            margin-top: 60px;
            margin-bottom: 30px;
        }



        @media screen and (max-width: 768px) {
            .content h2 {
                font-family: 'Raleway', sans-serif;
                font-size: 200%;
            }

            .content p {
                text-decoration: underline;
                font-family: 'Raleway', sans-serif;
                margin-bottom: 50px;
                margin-top: 50px;
                font-size: 120%;
            }

            .container h3 {
                font-size: 200%;
                font-family: 'Raleway';
                background-color: #3CB371;
                text-shadow: 2px 2px #333333;
                width: 200px;
                padding: 10px;
                text-align: center;
                color: white;
                opacity: 0.8;
            }

        }
